<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a City</title>
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=PI+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="static/consul_logo (1).ico">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='consul-logo.png') }}" alt="Consul Logo" class="logo">
        <!-- <h1>CHOOSE A CITY</h1> -->
    </header>

    <div class="city-selection">
        <form method="POST">
            <label for="city"><b>SELECT A CITY</b></label>
            <select name="city" id="city" required>
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
            <button type="submit">Generate Report</button>
        </form>
    </div>
</body>
</html>