.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1e1e1e; /* Changed background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.web-scraper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  align-items: center; /* Align items in the center */
  justify-content: center; /* Center the container */
  width: 100%;
}

.search-bar {
  width: 30%; /* Increased width */
  padding: 15px; /* Increased padding */
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 25px; /* Added border radius */
  font-size: 18px; /* Increased font size */
}

.checkboxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.checkboxes label {
  display: flex;
  align-items: center;
  font-size: 16px;
  display: flex;
  gap: 2px;
}

.search-button {
  background-color: #61dafb;
  border: none;
  padding: 15px 20px; /* Increased padding */
  border-radius: 25px; /* Added border radius */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px; /* Added margin to align with search bar */
}

.search-button .search-icon {
  color: white;
  height: 20px;
  width: 20px;
}

.search-button:hover {
  background-color: #21a1f1;
}

form {
  display: flex;
  align-items: center; /* Align items in the center */
}
